* {
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

button {
    font-family: 'Raleway', sans-serif;
}

@font-face {
	font-family: 'Raleway';
	src: url(raleway.ttf);
}


/* DEBUT DU HEADER */

header {
    position: relative;
    height: 83px;
}

.logo {
    position: absolute;
    bottom: 0;
}

.button {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.menu {
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
    width: 160px;
    color: black;
}

.menu:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 47px; /* bidouillage pour pas que ca bouge le texte */
}

/* FIN DU HEADER */

/* PREMIER SECTION */

.section1 {
    margin-top: 50px;
}
.section1 h1 {
    margin-bottom: 0px;
    font-size: 22px;
}

/* BOUTON RECHERCHE */

.search {
    height: 50px;
    display: inline-flex;
}

.position {
   border-radius: 15px 0px 0px 15px;
   padding-right: 17px;
   padding-left: 17px;
   height: 100%;
   font-size: 15px;
}

.position:focus {
    outline: none;
}

.search input {
    height: 46px;
    color: black;
    font-weight: bold;
    font-size: 19px;
    padding: 0;
    padding-left: 10px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: black;
    font-weight: bold;
}

.search1 {
    color: white;
    width: 120px;
    font-size: 19px;
    background-color: #0065FC;
    height: 100%;
    border-radius: 0px 15px 15px 0Px;
}

.search1:focus {
    outline: none;
}

.search1:hover {
    color: rgb(216, 216, 216); /* Pour que l'utilisateur comprennent que c'est un bouton */
}

/* FIN BOUTON DE RECHERCHE */

/* LE FILTRE */

#p1 {
    margin-left: 0;
}

.filtre {
    display: flex;
    margin: 10px;
    height: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.filtre p {
    font-size: 19px;
    font-weight: bold;
    margin: 10px;
    margin-right: 20px;
}

.icone {
    display: flex;
    border: 3px solid #F2F2F2;
    border-radius: 35px;
    margin-left: 20px;
}

.icone_filtre {
    color: #0065fc;
    width: 44px;
    height: 100%;
    background-color: #deebff;
    border-radius: 35px;
}

.icone_filtre:hover {
    color: black;
    background-color: #F2F2F2;
    transform: rotate(360deg);
    transition: 750ms;
}

.icone_filtre:focus {
    outline: none;
}

.info {
    display: flex;
    align-items: center;
}

.info i {
    color: #0065FC;
    border: 2px #F2F2F2 solid;
    border-radius: 55px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 10px;
}

/* FIN DU FILTRE */

/* HEBERGEMENTS */

.heber{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.marseille {
    width: 63%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.padding {
    padding: 40px;
}

.padding h1 {
    margin: 0;
    font-size: 22px;
}

.carte_heber {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}


.carte {
    position: relative;
    width: 30%;
    height: 200px;
    padding: 0;
    border: 4px solid white;
    border-radius: 15px;
    box-shadow: 0px 20px 30px -1px rgba(0,0,0,0.38);
}

.carte:focus {
    outline: none;
}

.carte:hover {
    transform: scale(1.05);
    transition: 500ms;
}


.carte img {
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.texte {
    width: 100%;
    min-height: 40%;
    background-color: white;
    position: absolute;
    bottom: 0;
    text-align: left;
}

.texte h2,p {
    font-size: 15px;
    margin: 7px;
}

.texte p i {
    color: #0065FC;
    font-size: 13px;
}

#affich {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    background-color: #F2F2F2;
}

#affich:hover {
    color: rgb(71, 71, 71);
}

#affich:focus {
    outline: none;
}

/* FIN HEBERGEMENT */

/* POPULAIRE */

.populaire {
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.titre_pop {
    display: flex;
    justify-content: space-between;
}

.carte_pop  {
    display: flex;
    padding: 0;
    margin-top: 25px;
    border: 4px solid white;
    border-radius: 15px;
    height: 150px;
    width: 100%;
    position: relative;
    box-shadow: 0px 20px 30px -1px rgba(0,0,0,0.38);
}

.carte_pop img {
    align-items: flex-start;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.carte_pop:focus {
    outline: none;
}

.carte_pop:hover {
    transform: scale(1.05);
    transition: 500ms;
}

.texte_pop {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: white;
}

.texte_pop h2,p  {
    margin: 7px;
    font-size: 15px;
}

.texte_pop i {
    color: #0065FC;
    font-size: 13px;
}

.star {
    position: absolute;
    bottom: 0;
}

/* FIN POPULAIRE */

/* ACTIVITE */

.acti {
    margin-top: 70px;
    margin-bottom: 70px;
}

.acti_carte {
    display: flex;
    justify-content: space-between;
}

.acti_indiv {
    width: 322px;
    height: 476px;
    position: relative;
}

.acti_display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.acti_indiv_1 {
    width: 100%;
    height: 100%;
    background: center url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: 230%;
}

.acti_indiv_2 {
    width: 100%;
    height: 50%;
    background: center url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}

.acti_indiv_3 {
    width: 100%;
    height: 40%;
    background: center url(/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
}
.acti_indiv_4 {
    width: 100%;
    height: 100%;
    background: center url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: 250%;
}

.acti_indiv_5 {
    width: 100%;
    height: 40%;
    background: center url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: 100%;
}

.acti_indiv_6 {
    width: 100%;
    height: 50%;
    background: center url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.button_transform {
    border-radius: 15px;
    box-shadow: 0px 20px 30px -1px rgba(0,0,0,0.38);
    padding: 0;
    position: relative;
    display: block;
}
 
.button_transform:hover {
    transform: scale(1.03);
    transition: 500ms;
}

.button_texte {
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    text-align: left;
    border-radius: 0px 0px 15px 15px;
}

.button_texte h3 {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.button_transform:focus {
    outline: none;
}

/* FIN ACTIVITE */

/* FOOTER */

footer {
    height: 200px;
    background-color: #F2F2F2;
    display: flex;
    padding: 35px;
}

.footer_1 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.footer_1 a {
    margin-bottom: 25px;
    color: black;
}

.footer_1 a:hover {
    text-decoration: underline;
}

/* FIN FOOTER */ 

