body {
    width: 100%;
    margin: 0 auto;
}


.menu {
    
}

header {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.heber {
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 0;
}

.marseille {
    width: 100%;

}

.populaire {
    width: 100%;
}

.search1 {
    width: 40px;
}

.carte_heber {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}


.acti_carte {
    display: flex;
    flex-direction: column;
}

.carte_pop {
    width: 50%;
    margin: 0;
    padding: 0;
}